@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --cor0: #C4AFB0;
    --cor1: #916467;
    --cor2: #F7B0B3;
    --cor3: #330F11;

    --font-poema: 'Indie Flower';
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Passion One';
}

html, body {
    min-height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1), var(--cor2));
    color: white;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.218);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.233);
}

header h1 {
    padding-top: 50px;
    font-family: var(--font-destaque);
    font-size: 8vw;
    font-variant: small-caps;
}

header p {
    font-size: 1.1em;
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    color: var(--cor0);
}

main {
    font-family: var(--font-poema);
    font-size: 3vw;
    font-weight: bolder;
}

section {
    padding-top: 15vh;
    padding-bottom: 15vh;
    line-height: 5vw;
}

section.normal {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.416);
    padding-left: 40px;
}

section.imagem {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 30px;
}

section.img-1 {
    background-image: url('../imagens/cordel-parede.jpg');
}

section.img-2 {
    background-image: url('../imagens/escrita-mao.jpg');
}

section div {
    color: white;
    background-color: rgba(0, 0, 0, 0.548);
    margin: 10px;
    padding: 10px;
    padding: 10px;
    display: inline-block;   
}

footer {
    padding: 15px;
    text-align: center;
    background-image: linear-gradient(to top, var(--cor3), var(--cor1), var(--cor2));
    color: white;
    box-shadow: -2px -2px 0px rgba(0, 0, 0, 0.081);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.323);
}





