@charset "UTF-8";

/* ESTILO PARA IMPRESSÕES */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
    /* Display: none; -> indica que não aparecerá */
}

article::after {
    content: 'Esse artigo foi impresso atráves do site: www.noticiasHoje.com.br';
}