@charset "UTF-8";

@media screen and (min-width: 600px) and (max-width: 768px) {
    section#dispositivo {
        background: url('../imagens/frame-tablet.png');
        
        height: 398px;
        width: 550px;
    }

    section > iframe#tela {
        height: 290px;
        width: 457px;

        transform: translate(-49.3%, -52.5%);
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#dispositivo {
        background: url('../imagens/frame-laptop.png');

        height: 480px;
        width: 720px;
    }

    section > iframe#tela {
        height: 297px;
        width: 495px;

        transform: translate(-50%, -62%);
    }
    
}

@media screen and (min-width: 992px){
    section#dispositivo {
        background: url('../imagens/frame-desktop.png');

        height: 800px;
        width: 800px;
    }

    section > iframe#tela {
        height: 393px;
        width: 696px;

        transform: translate(-50%, -68.3%);
    }
}